<form action="/adicionar" method="POST">
    <div class="mb-3">
        <label for="titulo" class="form-label">Titulo:</label>
        <input type="text" class="form-control" id="titulo" name="titulo">
    </div>
    <div class="mb-3">
        <label for="conteudo" class="form-label">Conteúdo:</label>
        <textarea class="form-control" id="conteudo" name="conteudo"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar postagem</button>
</form>